.wrapper {
  background: #FFFFFF;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.05);
}

.formItem {
  margin: 0;
}

.textArea {
  width: 100%;
  background: transparent;
  border-radius: 0;

  &:focus {
    background: transparent;
    border-color: transparent;
    box-shadow: none;
  }

  &:hover {
    background: transparent;
  }
}