.galleryContainer {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.mainImage {
  border: 1px solid #9e9e9e26;
  border-radius: 10px;
}

.thumbnailsContainer {
  width: 315px;
  display: flex;
  gap: 9px;
}

.relative {
  position: relative;
}

.thumbnailImage {
  border-radius: 7px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(15px);
  border-radius: 7px;

  span {
    font-family: "Onest", sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    color: var(--ant-color-white);
  }
}
