body {
	margin: 0;
}

@font-face {
  font-family: "Literata-Medium";
  src: url("./fonts/Literata-Medium.woff") format("woff");
}

@font-face {
  font-family: "Onest-Medium";
  src: url("./fonts/Onest-Medium.woff") format("woff");
}

@font-face {
  font-family: "Onest-Regular";
  src: url("./fonts/Onest-Regular.woff") format("woff");
}
